.header{
    border-bottom: 2px solid #cccccc;
    margin: 0;
}
.mainHeader{
	
	background-color: #ffffff;
	height: 100px;
	margin-bottom: 68px;		
	font-family: Georgia, Times, Times New Roman, serif;
	overflow: auto;
	display: block;
	width: 960px;
    margin: 0 auto;
}
#namecontainer{
	float: left;
	background-color: #4aaaa5;	
	height: 100px;
    width: 223px;
    
}
.mainname{
	font-size: 29px;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
}
.links{
	float: right;
	margin-right: 25px;
    margin-top: 36px;
    color: #777777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    
}
.aboutme {
    width: 918px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #dddddd;
    padding: 20px;
    background-color: white;
}
.h2aboutme {
    color: #4aaaa5;
    font-size: 29px;
}
.soy {
    float: left;
    margin-right: 15px;
    height: 240px;
    width: 192px;
    margin-top: 25px;
}
.footer {
    border-top: 8px solid#4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #777777;
    text-align: center;
}

body {
    margin: 0;
    
}
p {
    color: #777777;
    line-height: 2;
    font-size: 20px;
}
.portfolioimg1{
	width: 280px;
	height: 200px;
	margin:10px;
	position: relative; 
	float: left;
}
main {background-image: url("../images/papyrus/papyrus.png");
    background-repeat: repeat;
}
.submit-btn {
    background-color: #4aaaa5;
    color: #ffffff;
    height: 40px;
    width: 120px;
    font-size: 25px;
}
span {
    color: #ffffff;
    background-color: #4aaaaf;
}